.home-container-1{
    min-height: 100vh;
    max-width: 1250px;
    width: 100vw !important;
    display: flex;
    justify-content: space-between;
    margin: 0% auto !important;

}


.home-container-21{    
    position:absolute;
    left:300px;
    width:calc(100% - 350px);
    max-width: 1300px;
    padding: 24px;
    box-sizing: border-box;
    
}
@media screen and (max-width: 800px) {
    .home-container-21{
        left:0px !important;
        z-index:-1 !important;
    }
    .home-container-22{
        left:0px !important;
        
    }
    
    .bar1{
        display:block !important;
        position:fixed;
        left:10px !important;
        top:10px;
        
    }
    
    .bar2{
        display:block !important;
        position:fixed;
        left:10px !important;
        top:10px;
    }
    .main-bar{
        width:calc(100vw - 100px) !important;

    }
    

}

@media screen and (max-width: 500px) {
    .home-container-1{
        font-size: 0.8em !important;
    }
    .home-container-21{
        left:0px !important;
        z-index:-1 !important;
        width:100%;
        
        
    }
    .home-container-22{
        left:0px !important;
        
    }
    
    .bar1{
        display: block !important;
        top:10px;
        position:fixed;
        left:10px;
    }
    
    .bar2{
        display: block !important;
        
    }
    .main-bar{
        position: relative;
        top:10px !important;
        width:calc(100vw - 50px) !important;
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
    
}



@media screen and (min-width: 800px) {
    .bar1{
        display: none !important;
    }
    
    .bar2{
        display: none !important;
        
    }
    .home-container-21{
        position:absolute;
        left:170px;
        width:80vw !important;
        max-width: 1300px;
        padding: 24px;
        box-sizing: border-box;
    }
}


@media screen and (min-width: 1199px) {

    .home-container-21{
        position:absolute;
        left:170px;
        width:80vw !important;
        max-width: 1300px;
        padding: 24px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1300px) {

    .home-container-21{
        position:absolute;
        left:200px;
        width:70vw !important;
        max-width: 1300px;
        padding: 24px;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1350px) {

    .home-container-21{
        position:absolute;
        left:250px;
        width:70vw !important;
        max-width: 1300px;
        padding: 24px;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1400px) {

    .home-container-21{
        position:absolute;
        left:290px;
        width:70vw !important;
        max-width: 1300px;
        padding: 24px;
        box-sizing: border-box;
    }
}
.home-container-22{
    position:absolute;
    left:170px;
    width:100%;
    max-width: 1300px;
    padding: 24px;
    box-sizing: border-box;
}


.c1{
    display:block !important;
    height: 50% !important;
    z-index: 1 ;
    
}
.c2{
    display:none;
    
}
.bar1{
    
    z-index:200;
    cursor:pointer;    
}

.bar2{
    
    z-index:200;
    cursor:pointer;
}
